@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model ProjectManagementSystemCore.Dtos.LoginDto

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
@if (ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState["login"].Errors)
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}