@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";

}
@model PaginationModel<ProjectManagementSystemCore.Models.FileUpload,NoData>
@if (Model.Dataset.Count > 0)
{   
    <div class="card mb-4">
        <div class="card-header">
            <div class="mb-0">Yüklenmiş Dosyalar</div>
        </div>
        <div class="card-body">
            <div class="row g-3">
                @foreach (var item in Model.Dataset)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="card ">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-2">@item.Name</h5>
                                <hr class="my-2"> 
                                <p class="card-text text-muted mb-2">Tarih: @item.AddedAt</p>
                                <a class="btn btn-secondary mt-3" asp-action="Download" asp-controller="Account" asp-route-id="@item.Id">
                                    Yükle
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

        @await Html.PartialAsync("Partial/Pagination",Model.Pagination)
}