@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (Model.Files.Count > 0)
{
    <div class="card mb-4">
        <div class="card-header">Yüklenmiş Dosyalar</div>
        <div class="card-body">
            <div class="row">
                @foreach (var item in Model.Files)
                {
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <a class="btn btn-secondary mt-3" asp-action="Download" asp-controller="Account" asp-route-id="@item.Id">
                                    Yükle
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}