@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
@model JobPageModel
<div class="mt-4">
    <h6>İş Ekle</h6>
    <form method="post" enctype="multipart/form-data"
        asp-controller="Job" asp-action="AddJob"
    >
        <label>Proje İsmi</label>
        <input asp-for="ProjectName" type="text" class="form-control" /> <br />
        <label>İş İsmi</label>
        <textarea type="text" class="form-control" asp-for="Title"> </textarea>
        <label>İş Açıklaması</label>
        <textarea type="text" class="form-control" asp-for="Description"> </textarea>
        <label>Bitiş Tarihi</label>
        <input type="datetime-local" value="@DateTime.Now" class="form-control" asp-for="DueDate" />
        <label>Kullanıcı ekle</label>
        <input type="text" class="form-control" asp-for="UserName" /> <br />
        <button class="btn btn-secondary" type="submit">Ekle</button>
</form>
</div>