@{
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}
<body>
    <div class="container mt-5">
        <div class="card mb-4">
            <div class="card-header">
                Kullanıcı Bilgileri
            </div>
            <div class="card-body">
                <p class="card-title">E-mail: @Model.Email</p>
                <p class="card-text">Kullanıcı adı: @Model.UserName</p>
                <a class="btn btn-secondary mt-3" asp-action="Index" asp-controller="Password"> Şifre değiştir </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <a asp-action="Index" asp-route-id = 0 asp-controller="Comments" class="text-decoration-none">
                    <div class="card bg-dark text-white text-center" style="height: 10rem; border: none;">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title mb-0">Yorumlar</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <a asp-action="Index" asp-route-id="0" asp-controller="Files" class="text-decoration-none">
                    <div class="card bg-dark text-white text-center" style="height: 10rem; border: none;">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title mb-0">Dosyalar</h5>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </div>
</body>

